<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<!--FontAwesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

<style>
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #b9bbf0;
}
.layoutmain{
    margin:15px -10px -2px -2px
    border: 1px solid #8387de;
    background-color: rgb(255, 252, 252);
    border-radius: 10px;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #556ce0;
  border-radius: 10px;
  position: absolute;
  height: 100%;
  overflow: auto;
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #373296;
    margin-left: 40px;
}
.header3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #373296;
    margin-left: 40px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #211d73;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

section.content {
  margin-left: 200px;
  padding: 1px 16px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>
</head>
<body>
    <h1 class="heading">Duty Roster</h1>
<div class="layoutmain">
    <section class="sidebar">
        <a class="active"  href="{% url 'dashboard-staff' %}">Dashboard</a>
        <a href="{% url 'dashboard-duty' %}">Duty</a>
        <a href="{% url 'dashboard-order' %}">Checkin</a>
        <a href="{% url 'dashboard-complain-list' %}">Complains</a>
        <a href="{% url 'dashboard-leavelist' %}">On Leave</a>
        <a href="{% url 'dashboard-ward' %}">Wards</a>
      </section>
      
      <section class="content">
        <!-- FIRST ROW IS HERE -->
        <div class="row">
          <div class="col-md-0 mt-4">
              <!--<div class="card">
                  <div class="card-header bg-primary text-white">
                      Information
                  </div>
                  <div class="card-body">
                      <marquee behavior="" direction="">
                          <h3 class="my-4">New</h3>
                      </marquee>
                  </div>
              </div>-->
          </div>  
          <div class="col-md-12 mt-4">
            <h3 class="header3">Duty Management Dashboard</h3>
              <div class="card">
                  <div class="card-header bg-primary text-white">
                      Dashboard Stats
                  </div>
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-4">
                              <a class="text-decoration-none text-dark" href="{% url 'dashboard-staff' %}">
                                  <div class="card my-card shadow">
                                      <div class="card-body text-center">
                                        <h4><i class="fas fa-users"></i></h4>
                                          <h5>Staff</h5>
                                          <h3>{{ workers_count }}</h3>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="col-md-4">
                              <a class="text-decoration-none text-dark" href="{% url 'dashboard-duty' %}">
                                  <div class="card my-card shadow">
                                      <div class="card-body text-center">
                                        <h4><i class="fas fal fa-user-nurse"></i></h4>
                                          <h5>On Duty</h5>
                                          <h3>{{ duty_count }}</h3>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="col-md-4">
                              <a class="text-decoration-none text-dark" href="{% url 'dashboard-order' %}">
                                  <div class="card my-card shadow">
                                      <div class="card-body text-center">
                                          <h5>Check-ins and Check-outs <i class="fas fa-solid fa-check"></i></h5>
                                          <h3>{{ orders_count }}</h3>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
  
              </div>

          </div>
      </div>
      <!-- END OF FIRST ROW -->

      <!-- SECOND ROW BEGINS HERE -->
      <div class="row">
        <div class="col-md-7 mt-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Dashboard Stats
                </div>
                <!-- FIRST ROW BEGINS HERE -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-leavelist' %}">
                                <div class="card my-card shadow">
                                    <div class="card-body text-center">
                                      <h4><i class="fas fa-users"></i></h4>
                                        <h5>On leave</h5>
                                        <h3>{{ leave_count }}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-complain-list' %}">
                                <div class="card my-card shadow">
                                    <div class="card-body text-center">
                                      <h4><i class="fas fa-solid fa-comment"></i></h4>
                                        <h6>Complains</h6>
                                        <h3>{{ complain_count }}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-ward' %}">
                                <div class="card my-card shadow">
                                    <div class="card-body text-center">
                                        <h4><i class="fas fa-hospital"></i></h4>
                                        <h5>Wards</h5>
                                        <h3>{{ room_count }}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END OF FIRST ROW -->
            </div>
            
        </div>
        <div class="col-md-5 mt-4">
          <div class="card">
              <div class="card-header bg-primary text-white">
                  Duty statistics:name and working hours
              </div>
              <div class="card-body">
                <canvas id="myChart1" width="40" height="30"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var myChart1 = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                labels: [{% for item in items %} '{{item.name}}', {% endfor %}],
                        datasets: [{
                            label: 'Number of Products',
                            data: [{% for item in items %} {{  item.hours }}, {% endfor %}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(257, 206, 86, 1)',
                                'rgba(65, 192, 192, 1)',
                                'rgba(153, 12, 255, 1)',
                                'rgba(25, 79, 6, 1)',
                                'rgba(257, 20, 86, 1)',
                                'rgba(65, 92, 192, 1)',
                                'rgba(153, 12, 25, 1)',
                                'rgba(75, 59, 6, 1)',
                                'rgba(27, 206, 6, 1)',
                                'rgba(60, 12, 192, 1)',
                                'rgba(13, 12, 55, 1)',
                                'rgba(85, 99, 69, 1)',
                            ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(257, 206, 86, 1)',
                                    'rgba(65, 192, 192, 1)',
                                    'rgba(153, 12, 255, 1)',
                                    'rgba(25, 59, 6, 1)',
                                    'rgba(75, 59, 6, 1)',
                                    'rgba(27, 206, 6, 1)',
                                    'rgba(60, 12, 192, 1)',
                                    'rgba(13, 12, 55, 1)',
                                    'rgba(85, 99, 69, 1)',
                                ],
                                    borderWidth: 1
                        }]
                            },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                        });
                    </script>
               
              </div>
          </div>
      </div> 
    </div>
        
       </section>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
</body>
</html>