{% extends "partials/base.html" %}
{% block title %}Duty page{% endblock %}
  <!--Table-->
  {% load crispy_forms_tags %}
  {% block content%}
   <div class="container">
    <h2 style="text-align:center;color:#6843a3;"><b> LIST OF LEAVES</b> </h2>
    <div class="row my-2">
        <div class="col-md-3">
           
        </div>
        <div class="col-md-10">
            <div id="myBillingArea">
                <table class="table bg-white">
                    <thead class="bg-primary">
                        <tr class="text-white">
                            <th style="border-bottom: 1px solid #ccc;" scope="col">Name</th>
                            <th style="border-bottom: 1px solid #ccc;" scope="col">Department</th>
                            <th style="border-bottom: 1px solid #ccc;" scope="col">Email</th>
                            <th style="border-bottom: 1px solid #ccc;" scope="col">Time of application</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for leave in leaves %}
                        <tr>
                            <td style="border-bottom: 1px solid #ccc;">{{ leave.name}}</td>
                            <td style="border-bottom: 1px solid #ccc;">{{ leave.department}}</td>
                            <td style="border-bottom: 1px solid #ccc;">{{ leave.email}}</td>
                            <td style="border-bottom: 1px solid #ccc;">{{ leave.time }}</td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <div class="mt-4 text-end">
                <button class="btn btn-info px-4 mx-1" onclick="printMyBillingArea()">Print</button>
                <button class="btn btn-primary px-4 mx-1" onclick="downloadPDF('leaves')">Download PDF</button>
            </div>
        </div>
    </div>

</div>
<script>
    function printMyBillingArea(){
        var divContents = document.getElementById("myBillingArea").innerHTML;
        var a = window.open("","");
        a.document.write('<html><title>Duty Roster</title>');
        a.document.write('<body style="font-family:fangsong">');
        a.document.write(divContents);
        a.document.write('</body></html>');
        a.document.close();
        a.print()
     }
    //links for allowing the pdf download
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
     //function for downloading PDF in the id="myBillingArea" found in order-view-print.php
     window.jsPDF = window.jspdf.jsPDF;
     var docPDF = new jsPDF;
     function downloadPDF(dutyroster){
        var elementHTML = document.querySelector("#myBillingArea");
        docPDF.html(elementHTML,{
            callback:function(){
                docPDF.save(dutyroster+'.pdf')
            },
            x:15,
            y:15,
            width:170,
            windowWidth:650
        });
     }
</script>
{% endblock %}