{% load crispy_forms_tags %}
<div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Make Request
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input class="btn btn-info btn-block" type="submit" value="Make Request">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Orders Records
                </div>
                <div class="card-body">
                    <table class="table bg-white">
                        <thead class="bg-info text-white">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Hours</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders%}
                            {% comment %} {% if order.staff == user %} tis is for ensuring that the code displays the duty of the logged in user only{% endcomment %}
                            <tr>
                                <td>{{ order.product.name }}</td>
                                <td>{{ order.product.department}}</td>
                                <td>{{ order.product.hours}}</td>
                                <td>{{ order.date}}</td>
                            </tr>
                            {% comment %} {% endif %}  end if of the above statement {% endcomment %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>