{% extends "partials/base.html" %}
{% block title %}Ward page{% endblock %}
  <!--Table-->
  {% load crispy_forms_tags %}
  {% block content%}
  {% include 'partials/topnav.html' %}
   <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            <div class="border bg-white p-3">
                <h4>Add a Ward</h4>
                <hr>
                <form method="POST">
                   {% csrf_token %}
                    {{ form|crispy}}
                    <input class="btn btn-success btn-block" type="submit" value="Add Ward">

                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-primary">
                    <tr class="text-white">
                        <th scope="col">Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">Floor</th>
                        <th scope="col">Building</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                    <tr>
                        <td>{{ room.name}}</td>
                        <td>{{ room.department}}</td>
                        <td>{{ room.floor }}</td>
                        <td>{{ room.building }}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'dashboard-ward-update' room.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'dashboard-ward-delete' room.id %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}